@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
body {
  background: #e3e3e3;
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container {
  max-width: 70%;
}
.btn {
  background-color: #e59851;
  border-color: #e59851;
  font-size: 18px;
  font-weight: 400;
  min-width: 120px;
}
.btn:hover {
  background-color: #000;
  color: #ffffff;
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}
